
common/.DS_Store
common/modifiers/.DS_Store
common/on_action/.DS_Store
common/script_values/.DS_Store
common/scripted_effects/.DS_Store
common/scripted_triggers/.DS_Store
events/.DS_Store
localization/.DS_Store
localization/english/.DS_Store
